.footer {
    /*border: 1px solid white;*/
    display: flex;
    height: 10vh;
    justify-content: center;
    background-color: transparent;
}

.footer .footer-text {
    color: white;
    display: inline;
    width: 60%;
    /* opacity: .7; */
    text-align: center;
    font-size: 15px;
    align-content: center;
    background-color: transparent;
    /*border: 1px solid white;*/
}

@media (max-width: 900px) {
    .footer {
        margin-top: 20px;
    }

    .footer .footer-text {
        opacity: .7;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .footer .footer-text {
        opacity: .7;
        font-size: 13px;
    }
}