* {
    margin: 0;
    padding: 0;
    font-family: "REM", serif;
    color: white;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100dvh;
    background-image: linear-gradient(to bottom, #20242D 0%, #20242D 50%, #05BFCE 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}