* {
    margin: 0;
    padding: 0;
    font-family: "REM", serif;
    color: white;
    box-sizing: border-box;
    /* background-color: #1E1E1E; */
}

body {
    background: linear-gradient(to bottom, #20242D 0%, #20242D 50%, #05BFCE 100%);
    min-height: 100vh;
}