.body {
    /*border: 1px solid white;*/
    width: 100vw;
    min-height: 600px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /*border: 1px solid white;*/
    background-color: #20242D;
    border-radius: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 1200px;
    height: 80%;
}

.card .social-list {
    /*border: 1px solid white;*/
    padding: 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.card .social-list li {
    /*border: 1px solid white;*/
    text-align: center;
    align-content: center;
    background-color: transparent;
    height: 70px;
    width: 70px;
    list-style: none;
    transition: transform 0.3s ease-in-out, opacity 0.2s;
    cursor: pointer;
    opacity: .8;
}

.card .social-list li:hover {
    transform: scale(1.2);
    opacity: 1;
}

.card .info {
    width: 40%;
    min-width: 200px;
    /*border: 1px solid white;*/
    padding: 2em;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .info .title {
    /*border: 1px solid white;*/
    text-align: left;
    /* color: #05BFCE; */
    font-size: 70px;
    font-weight: 400;
}

.card .info .subtitle {
    /*border: 1px solid white;*/
    color: #05BFCE;
}

.card .info .text {
    /*border: 1px solid white;*/
    font-size: 17px;
    text-align: left;
    margin: 20px 0;
    line-height: 25px;
}

.card .info .contact-button {
    text-align: center;
    width: 35%;
    min-width: 180px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    /*border: 1px solid white;*/
    color: black;
    background-color: hsl(184 70% 51.4%);
    box-shadow: 0 0 10px #05BFCE, 0 0 20px #05BFCE, 0 0 30px #30e1f2;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
    border: none;
}

.card .info .contact-button:hover {
    transform: scale(1.1);
}

.card img {
    /*border: 1px solid white;*/
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 1300px) {
    .body {
        min-width: unset;
        height: auto;
        padding: 0;
        margin: 30px 0;
    }

    .card {
        flex-direction: column;
        align-items: center;
        min-width: unset;
    }

    .card .social-list {
        order: 3;
        width: 80%;
        padding: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card .info {
        order: 2;
        padding: 0;
        margin: 0;
        width: 80%;
        min-width: unset;
        align-items: center;
    }

    .card .info .title {
        text-align: center;
        font-size: 40px;
        margin-top: 10px;
    }

    .card .info .subtitle {
        text-align: center;
    }

    .card .info .text {
        text-align: justify;
        font-size: 16px;
    }

    .card .info .contact-button {
        width: 40%;
        margin-bottom: 20px;
    } 

    .card img {
        order: 1;
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 900px) {
    .card .info .title {
        font-size: 30px;
    }

    .card .info .text {
        font-size: 15px;
    }

    .card img {
        width: 310px;
        height: 310px;
    }
}

@media (max-width: 600px) {
    .body {
        min-width: 100%;
        margin-top: 20px;
        padding: 0;
    }

    .card .info {
        width: 90%;
    }

    .card .social-list {
        width: 90%;
        font-size: 24px;
    }

    .card .info .title {
        font-size: 24px;
    }

    .card .info .subtitle {
        font-size: 18px;
    }

    .card .info .contact-button {
        width: 50%;
        min-width: 150px;
        font-size: 13px;
    } 

    .card .info .text {
        font-size: 12px;
        line-height: 20px;
        padding: 1em;
    }

    .card img {
        width: 220px;
        height: 220px;
    }
}