.card {
    border: 1px solid white;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.card .social-list {
    border: 1px solid white;
    width: 5%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.card .social-list li {
    border: 1px solid white;
    text-align: center;
    align-content: center;
    height: 70px;
    list-style: none;
    transition: transform 0.3s ease-in-out, opacity 0.2s;
    cursor: pointer;
}

.card .social-list li:hover {
    transform: scale(1.2);
    opacity: 1;
}

.card .info {
    width: 30%;
    border: 1px solid white;
    padding: 2em;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .info .title {
    border: 1px solid white;
    color: #FBE5C1;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.card .info .text {
    border: 1px solid white;
    font-size: 17px;
}

.card img {
    border: 1px solid white;
    width: 50%;
}

@media (max-width: 750px) {
    .card {
        height: auto;
        padding: 0;
        margin: 0;
        min-width: 400px;
        margin-top: 50px;
    }

    .card .social-list {
        display: none;
    }

    .card .info {
        padding: 0;
        margin: 0;
        width: 80%;
    }

    .card .info .title {
        font-size: 30px;
    }

    .card .info .text {
        font-size: 15px;
    }

    .card img {
        display: none;
    }
}

@media (min-width: 751px) and (max-width: 1000px) {
    
}